In [1]:
import requests
from bs4 import BeautifulSoup
import json
import pandas as pd
from requests.exceptions import HTTPError
import sys
import math

In [2]:
# url = "http://www.nepalstock.com/"
# request = requests.get(url)
# soup = BeautifulSoup(request.text, 'lxml')
# total_transactions = soup.find(text="Total Transactions")
# total_transactions = total_transactions.parent.parent.next_sibling.next_sibling.text
# total_transactions = total_transactions.replace(",", "")
# total_iteration = math.ceil(int(total_transactions)/500)
# print(total_iteration)
# print(request.text)

In [3]:

# table_list = list()
# subgroup = "floorsheet"
# # url = "http://iloveyou:8000"
# r_list = list()
# mistake_count = 0
# for index in range(1,total_iteration+1):
#     url = f"http://www.nepalstock.com/main/floorsheet/index/{index}/?contract-no=&stock-symbol=&buyer=&seller=&_limit=500/"
#     while True:
#         try:
#             r = requests.get(url)
#             if r.status_code == 200 :  
#                 break
#         except requests.exceptions.RequestException as e:  # This is the correct syntax
#             mistake_count += 1
#             if mistake_count > 3:
#                 print(e)
#                 sys.exit()
#                 continue
        
#     r_list.append(r)

In [4]:

# for r in r_list:
#     soup = BeautifulSoup(r.text, "lxml")
#     table = soup.find("table", class_="table my-table").contents
#     table = list(filter(lambda a : a!='\n', table))
#     # row = [x.text for x in table[2].find_all("td")]
#     # print(row)
    
#     for row in table[2:-3]:
#         datas = row.find_all("td")
#         row = [x.text for x in datas]
#         row[5:] = [float(x) for x in row[5:]]
#         table_list.append(row)

#     # data_json = json.dumps(table_list)
#     # print(data_json)
# columns = ['S.N.', 'Contract No','Stock Symbol', 'Buyer Broker',
#            'Seller Broker', 'Quantity', 'Rate', 'Amount']
# df = pd.DataFrame(table_list, columns=columns)
# df.to_csv("floorsheet.csv")

In [5]:


df = pd.read_csv('./datas/floorsheet_2021-05-16_Sun.csv')
df.head(50)
df.columns

Index(['Unnamed: 0', 'S.N.', 'Contract No', 'Stock Symbol', 'Buyer Broker',
       'Seller Broker', 'Quantity', 'Rate', 'Amount'],
      dtype='object')

In [6]:

# df.tail(10).style.hide_index()

df[(df["Amount"] > 10000000) ].sort_values("Amount", ascending =False)

# df[(df["Amount"] > 1000000)].sort_values("Amount", ascending =False)

Empty DataFrame
Columns: [Unnamed: 0, S.N., Contract No, Stock Symbol, Buyer Broker, Seller Broker, Quantity, Rate, Amount]
Index: []

In [7]:
c1 = df["Stock Symbol"] == "JLI"
c2 = df["Buyer Broker"]==58
c3 = df["Amount"] > 20000
c4 = df["Seller Broker"]==58
condition = c1&c3
df[condition]

,Unnamed: 0,S.N.,Contract No,Stock Symbol,Buyer Broker,Seller Broker,Quantity,Rate,Amount
95,95,96,2021051603048985,JLI,51,46,80.0,865.0,69200.0
413,413,414,2021051603048866,JLI,51,57,40.0,864.0,34560.0
595,595,96,2021051603048985,JLI,51,46,80.0,865.0,69200.0
913,913,414,2021051603048866,JLI,51,57,40.0,864.0,34560.0
1095,1095,96,2021051603048985,JLI,51,46,80.0,865.0,69200.0
...,...,...,...,...,...,...,...,...,...
112413,112413,414,2021051603048866,JLI,51,57,40.0,864.0,34560.0
112595,112595,96,2021051603048985,JLI,51,46,80.0,865.0,69200.0
112913,112913,414,2021051603048866,JLI,51,57,40.0,864.0,34560.0
113095,113095,96,2021051603048985,JLI,51,46,80.0,865.0,69200.0
113413,113413,414,2021051603048866,JLI,51,57,40.0,864.0,34560.0

In [18]:
c2 = df["Buyer Broker"]==58
c3 = df["Seller Broker"]==58
# order by broker

df[c2].groupby([ "Buyer Broker", "Stock Symbol"])["Amount"].sum().head(10).sort_values(ascending=False)

Buyer Broker  Stock Symbol
58            RADHI           39952000.0
              CHCL            35088525.0
              DDBL            20691050.0
              AIL             16198720.0
              SDLBSL          11229690.0
              HIDCL           10096960.0
              NMB              9579400.0
              SCB              4616045.0
              RLI              3241560.0
              EIC              1718390.0
Name: Amount, dtype: float64

In [19]:
df[c3].groupby([ "Seller Broker", "Stock Symbol"])["Amount"].sum().head(10).sort_values(ascending=False)

Seller Broker  Stock Symbol
58             NIFRA           68281600.0
               CBL             45953880.0
               HIDCL           25494824.0
               HGI             17002300.0
               MLBL            13756200.0
               PLI              7197489.0
               NMB              5389888.0
               BFC              2508350.0
               JLI              1965820.0
               RADHI            1920420.0
Name: Amount, dtype: float64

In [ ]:
#top turnover
# df[c3].groupby(["Stock Symbol"])["Amount"].sum().sort_values(ascending=False).head(20)